* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#page-content {
  flex: 1 0 auto;
}

.textOrange {
  color: #FF4301;
}

.textColor {
  color: rgba(0, 0, 0, 0.9);
}

.page-footer {
  background-color: #FF4301;
}

// body {
//   // min-height: 100vh;
//   padding-bottom: 60px;
// }


#page-content {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.footer-log {
  position: absolute;
  bottom: 0;

  height: 35px;
  width: 100%;
}